
  <body>
    <div class="flex-center position-ref full-height">
       
            <div class="top-right links">     
              <!-- <a class="nav-link" routerLink='/'>Log In<span class="sr-only">(current)</span></a>           -->
                    <a routerLink='/'>FoodOrb</a>
                    <a routerLink='/login'>Login</a>
                    <a routerLink='/register'>Register</a>
            </div>
        <div class="content">
            <div class="title m-b-md">
                FoodOrb
                <br>
                Legacy Application
            </div>
  
            <div class="links">
                <a routerLink='/login'>Browse App</a>
            </div>
        </div>
    </div>
  </body>
  

<router-outlet></router-outlet>
